<h1>Compliments for the students of Gen Assmb.ly SEI</h1>
<h3> Or anyone having a case of the Mondays! </h3>
<h3>Just refresh the page a few times - if you're still sad - type your name after the slash in the url</h3>
<br>
<h2>{{ who }} are you feeling down? Just remember ...</h2>
<br>
<h2>{{ compliment }}</h2>

<style>

body{
    background-color: {{ backgroundColor }};
}

</style>
